header {
    background-color: #07436f;

    padding: 10px;

}


.navbar {
    background-color: #1388af !important;

}

.navbar-brand {
    color: #ffffff;

}

.navbar-nav a {
    color: rgb(0, 0, 0);

    margin-right: 15px;

}

.navbar-toggler-icon {
    background-color: #2a6562;
    ;

}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #07436f;

    padding: 10px;

    color: #ffffff;

    text-align: center;

    margin-top: 20px;

}

.custom-card-img {
    height: 290px;
    object-fit: cover;
}

.card,
.col-md-6 {
    margin-bottom: 70px;
}


.modal-right {
    position: fixed;
    right: 0;
    margin-right: 0;
}

.modal-dialog {
    margin: 0;
    max-width: 100%;
    width: 20rem;
}