/* Style */
header {
    background-color: #2a6562;
    /* Set your desired background color */
    padding: 10px;
    /* Add padding for better spacing */
}

/* Set the background color for the entire navigation bar */
.navbar {
    background-color: #2a6562 !important;
    /* Use !important to ensure the style is applied */
}

.navbar-brand {
    color: #ffffff;
    /* Set the color of the navbar brand text */
}

.navbar-nav a {
    color: rgb(0, 0, 0);
    /* Set the color of the navigation links */
    margin-right: 15px;
    /* Add margin to the right of each link for spacing */
}

.navbar-toggler-icon {
    background-color: #2a6562;
    ;
    /* Set the color of the navbar toggler icon */
}

/* Footer.css */
footer {
    background-color: #2a6562;
    /* Set your desired background color */
    padding: 10px;
    /* Add padding for better spacing */
    color: #ffffff;
    /* Set the color of the text */
    text-align: center;
    /* Center the text */
    margin-top: 20px;
    /* Add top margin for separation */
}

.custom-card-img {
    height: 290px;
    object-fit: cover;
}

/* Add more styles as needed */